<footer class="footer">
	<div class="container footer-content">
		<div id="socials">
			<a href="https://www.linkedin.com/in/juankuri/" target="_blank" rel="noopener noreferrer"> LINKEDIN /</a>
			<a href="https://github.com/juankuri/" target="_blank" rel="noopener noreferrer"> GITHUB</a>
		</div>
			<p id="copyright"> &copy; 2026 Kuri. All rights reserved</p>
			<p id="e-mail">juankupa11@gmail.com</p>
    	</div>
</footer>