<header class="header">
	<div class="container header-content">
		<h2>Kuri</h2>
			<nav class="main-navigation">
				<a href="#approach">Approach</a>
				<a href="#my-roles">Roles</a>
				<a href="#contact">Contact</a>
			</nav>
	</div>
</header>